[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"
sphinx = "*"
setuptools-scm = "*"

[requires]
python_version = "3.7"
